name: CD

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:

env:
  DEPLOYMENT_NAME: team5-app
  REGISTRY: ghcr.io
  REMOTE_TARGET_DIR: k8s

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew clean build -x test

      - name: Lowercase Image Name
        run: |
          echo "IMAGE_NAME=${REGISTRY,,}/${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
        env:
          REGISTRY: ${{ env.REGISTRY }}
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Copy k8s to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          source: "k8s/*"
          target: "/home/${{ secrets.SERVER_USER }}/k8s"

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            DEPLOYMENT=${{ env.DEPLOYMENT_NAME }}
            IMAGE=${{ env.IMAGE_NAME }}:latest
            K8S_DIR="/home/${{ secrets.SERVER_USER }}/k8s/k8s"

            sudo k3s crictl pull $IMAGE
            sudo k3s kubectl apply -f $K8S_DIR/
            sudo k3s kubectl rollout restart deployment $DEPLOYMENT
            sudo k3s kubectl rollout status deployment $DEPLOYMENT
            sudo k3s crictl rmi --prune